#Superstore EDA Final
*   Cleaning steps, resolving errors, and appropiate data types
*   Appropiate descriptive statistics and visualizations
*   Ensure all codes are performed
*   Codes clearly

Jazmin Zamorano

## Explore Categorical Fields

In [1]:
data = df['Ship Mode'].value_counts()
data

NameError: name 'df' is not defined

Here the data about Ship Mode is showing the different classes that there are for the shipping method.

In [ ]:
data = df['Ship Mode'].value_counts()
data.plot.barh();

In here you can see that the ship mode values are being expressed in a horizontal graph from less to more based on quantity.

In [ ]:
data = df['Segment'].value_counts()
data.plot.barh();

In [ ]:
data = df['Region'].value_counts()
data.plot.barh();

In here you can see that the region value counts are being expressed from least to more in quantity. Having central asia as the least and Western Europe as the most.

In [ ]:
data = df['Market'].value_counts()
data.plot.barh();

In [ ]:
data = df['Category'].value_counts()
data.plot.barh();

In [ ]:
data = df['Sub-Category'].value_counts()
data.plot.barh();

In [ ]:
data = df['Order Priority'].value_counts()
data.plot.barh();

In [ ]:
data = df['Ship Mode'].value_counts(ascending=True)
data.plot.barh();

In [ ]:
data = df['Segment'].value_counts(ascending=True)
data.plot.barh();

Here the graph is showing information about the segments, which are: consumer,corporate, and home office. Data is shown from more to less(ascending values).

In [ ]:
data = df['Region'].value_counts(ascending=True)
data.plot.barh();

In [ ]:
data = df['Market'].value_counts(ascending=True)
data.plot.barh();

In [ ]:
data = df['Category'].value_counts(ascending=True)
data.plot.barh();

In [ ]:
data = df['Order Priority'].value_counts(ascending=True)
data.plot.barh();

In [ ]:
data = df['Ship Mode'].value_counts(ascending=True)
data

In [ ]:
data = df['Segment'].value_counts(ascending=True)
data

In [ ]:
data = df['Region'].value_counts(ascending=True)
data

In [ ]:
data = df['Market'].value_counts(ascending=True)
data

In here we can see that data is presented in form of a table. Showing the values of the different markets from different continents in ascending values. Havinf Africa as the least, and Asia Pacific as the most.

In [ ]:
data = df['Category'].value_counts(ascending=True)
data

In [ ]:
data = df['Sub-Category'].value_counts(ascending=True)
data

In [2]:
data = df['Order Priority'].value_counts(ascending=True)
data

NameError: name 'df' is not defined

In [ ]:
data = df['Ship Mode'].value_counts(normalize=True)
data

In [ ]:
data = df['Segment'].value_counts(normalize=True)
data

In here we can see that data is presented in a form of table. Having the data normalized, so in decimal numbers. Having consumers as the most and home office as the least (smallest value).

In [ ]:
data = df['Region'].value_counts(normalize=True)
data

In [ ]:
data = df['Market'].value_counts(normalize=True)
data

In [ ]:
data = df['Category'].value_counts(normalize=True)
data

In [3]:
data = df['Sub-Category'].value_counts(normalize=True)
data

NameError: name 'df' is not defined

In [ ]:
data = df['Order Priority'].value_counts(normalize=True)
data

In [ ]:
data = df['Ship Mode'].value_counts(ascending=True,normalize=True)
data.plot.barh();

In [ ]:
data = df['Segment'].value_counts(ascending=True,normalize=True)
data.plot.barh();

In [ ]:
data = df['Region'].value_counts(ascending=True,normalize=True)
data.plot.barh();

Here information is shown in ascending and normalize values. The data is showing information about the different regions.The most is  Western Europe and the least Central Asia. It is showing 23 different regions.

In [ ]:
data = df['Market'].value_counts(ascending=True,normalize=True)
data.plot.barh();

In [4]:
data = df['Category'].value_counts(ascending=True,normalize=True)
data.plot.barh();

NameError: name 'df' is not defined

In [ ]:
data = df['Sub-Category'].value_counts(ascending=True,normalize=True)
data.plot.barh();

In [ ]:
data = df['Order Priority'].value_counts(ascending=True,normalize=True)
data.plot.barh();

In [5]:
data = df['Segment'].value_counts()
data

NameError: name 'df' is not defined

In [6]:
data = df['Region'].value_counts()
data

NameError: name 'df' is not defined

In [ ]:
data = df['Market'].value_counts()
data

Here market data is shown in form of a table. Having only 5 different markets. Asis Pacific as the greatest and Africa as the least with 4587.

In [ ]:
data = df['Category'].value_counts()
data

In [ ]:
data = df['Sub-Category'].value_counts()
data

In [ ]:
data = df['Order Priority'].value_counts()
data

## Cleaning Steps

In [ ]:
import pandas as pd

In [ ]:
run_times = pd.read_excel('/content/drive/MyDrive/Descriptive Analytics 01/Superstore EDA/Data/Global_Superstore_Orders_2012_2015.xlsx')

In [7]:
run_times

NameError: name 'run_times' is not defined

In [ ]:
run_times.info()

In [8]:
run_times.head()

NameError: name 'run_times' is not defined

### Converting Data Types

In [ ]:
import pandas as pd

In [ ]:
pd.read_excel('/content/drive/MyDrive/Descriptive Analytics 01/Superstore EDA/Data/Global_Superstore_Orders_2012_2015.xlsx')

In [ ]:
df.dtypes

In [ ]:
print(df.columns)

In [ ]:
df

### Missing Data

There are various ways to represent missing data in python:
-Np.NaN
-pd.NA
-None

In [ ]:
df.isna().any()

In [ ]:
df.isna().sum().sum()

In [ ]:
run_times.Profit.astype('int')

### Missing Data

In [ ]:
df= pd.read_excel('/content/drive/MyDrive/Descriptive Analytics 01/Superstore EDA/Data/Global_Superstore_Orders_2012_2015.xlsx')

In [ ]:
df.tail()

In [ ]:
df.info()

In [9]:
df.value_counts()

NameError: name 'df' is not defined

In [ ]:
df.isna()

In [ ]:
df[df.isna().any(axis=1)]

### Handling Missing Data

In [ ]:
 df

In [ ]:
df["Profit"].count()

### Removing Missing Data

In [ ]:
df.dropna()

In [ ]:
df.dropna(how="all")

In [ ]:
df.dropna(subset=["Segment"])

In [ ]:
df[df.isna().any(axis=1)].dropna(subset=['Segment', 'Profit'])

In [ ]:
df[df.isna().any(axis=1)]

In [10]:
df.Profit.mean()

NameError: name 'df' is not defined

### Resolving Missing Data

In [ ]:
df[df.isna().any(axis=1)]

In [ ]:
df[df.Sales == 'Shipping Cost']

### Inconsistent Text & Typos

It is represented by vlaues that are either:
-Incorrect by a few digits or characters
-Inconsistent with the rest of a column

In [ ]:
df.Profit.describe()

### Updating Values Based on a Logical Condition

In [ ]:
df.Profit.value_counts()

In [ ]:
df.Profit = np.where(df.Profit =='Python', 'Intro to Python', df.Profit)
df.Profit

### Map Values

In [ ]:
# map multiple state values to one abbreviation
state_mapping = {'AL': 'AL',
                 'Alabama': 'AL',
                 'NY': 'NY',
                 'New York': 'NY'}

In [ ]:
#use the map method to create a new column
df['State_Clean'] = df.State.map(state_mapping)
df

## Time Series (Dates)

Explore our data over time using Order Date

In [ ]:
# Group sales by Year and Month
# creates a new dataframe: monthly_sales
monthly_sales = df.groupby(df['Order Date'].dt.to_period('M'))['Sales'].sum().reset_index()
monthly_sales['Order Date'] = monthly_sales['Order Date'].astype(str) # Convert to string for plotting
monthly_sales.head()

In [ ]:
monthly_sales

In [ ]:
monthly_sales.info()

In [ ]:
import matplotlib.pyplot as plt  # Ensure this is included at the top of your code

# Plot the line chart using Matplotlib
plt.figure(figsize=(12,6))
plt.plot(monthly_sales['Order Date'], monthly_sales['Sales'], marker='o', linestyle='-')

# Formatting the plot
plt.title('Sales by Month', fontsize=14)
plt.xlabel('Month', fontsize=12)
plt.ylabel('Total Sales', fontsize=12)
plt.xticks(rotation=90) # Rotate x-axis labels for readability
# plt.grid(axis='y', linestyle='--', linewidth=0.5, alpha=0.6)

# Show the plot
plt.show()

In [ ]:
# Create a Sales by Quarter Dataframe
# Group sales data by Year and Quarter
# creates a new dataframe: monthly_sales
monthly_sales = df.groupby(df['Order Date'].dt.to_period('M'))['Sales'].sum().reset_index()
monthly_sales['Order Date'] = monthly_sales['Order Date'].astype(str) # Convert to string for plotting
monthly_sales.head()

In [11]:
# Group sales by Quarter
quarterly_sales = df.groupby(df['Order Date'].dt.to_period('Q'))['Sales'].sum().reset_index()

# Convert 'Order Date' to string for better plotting
quarterly_sales['Order Date'] = quarterly_sales['Order Date'].astype(str)

# Display the first 10 rows
quarterly_sales.head(10)

NameError: name 'df' is not defined

In [ ]:
import pandas as pd

# Assuming 'df' is your DataFrame and 'Order Date' is a datetime column
df['Order Date'] = pd.to_datetime(df['Order Date'])

# Create a new column for Year-Quarter
df['Year-Quarter'] = df['Order Date'].dt.to_period('Q')

# Group by the 'Year-Quarter' and sum the sales
quarterly_sales = df.groupby('Year-Quarter')['Sales'].sum().reset_index()

# Display the result
print(quarterly_sales)

In [ ]:
import matplotlib.pyplot as plt

# Plot the line chart using Matplotlib
plt.figure(figsize=(12,6))
plt.plot(quarterly_sales['Year-Quarter'].astype(str), quarterly_sales['Sales'], marker='o')

# Formatting the plot
plt.title('Sales by Quarter', fontsize=14)
plt.xlabel('Quarter', fontsize=12)
plt.ylabel('Total Sales', fontsize=12)
plt.xticks(rotation=90)  # Rotate x-axis labels for readability
plt.grid(axis='y', linestyle='-', linewidth=0.5, alpha=0.6)

plt.show()

## Time Series using the Resample Method

In [ ]:
monthly_sales_rs = df.resample('ME', on='Order Date')['Sales'].sum().reset_index()

In [ ]:
monthly_sales_rs.head(30)

In [ ]:
import matplotlib.pyplot as plt

# Plot the line chart using Matplotlib
plt.figure(figsize=(12,6))
plt.plot(monthly_sales_rs['Order Date'], monthly_sales_rs['Sales'])

# Formatting the plot
plt.title('Sales by Month', fontsize=14)
plt.xlabel('Month', fontsize=12)
plt.ylabel('Total Sales', fontsize=12)
plt.xticks(rotation=90)  # Rotate x-axis labels for readability
plt.grid(axis='y', linestyle='-', linewidth=0.5, alpha=0.6)

#Show the plot
plt.show()

In [ ]:
quarterly_sales_rs = df.resample('QE', on='Order Date')['Sales'].sum().reset_index()
quarterly_sales_rs

In [ ]:
import matplotlib.pyplot as plt  # Ensure this is included at the top of your code

# Display Quarterly Sales using Resample
quarterly_sales_rs = df.resample('QE', on='Order Date')['Sales'].sum().reset_index()

# Plot the line chart using Matplotlib
plt.figure(figsize=(12,6))
plt.plot(quarterly_sales_rs['Order Date'], quarterly_sales['Sales'])

# Formatting the plot
plt.title('Sales by Quarter', fontsize=14)
plt.xlabel('Quarter', fontsize=12)
plt.ylabel('Total Sales', fontsize=12)
plt.xticks(rotation=90) # Rotate x-axis labels for readability
# plt.grid(axis='y', linestyle='--', linewidth=0.5, alpha=0.6)

# Show the plot
plt.show()